
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.chat-groups-bar {
  background-color: #282c34;
  color: white;
  min-height: 100vh;

  input {
    color: #282c34;
  }
}

.chat-group:hover {
    background-color: #5a6579;
}

.chat-group--active {
    background-color: #5a6579;
}

.chat-window {
    background-color: white;
    min-height: 100vh;
}